<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyMoney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DailyWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD1A3C571F84970B00E3B567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD79B6811F79FF2200366762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD79B6951F79FF2200366762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD79B6A01F79FF2200366762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
