<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>งวดรถ</string>
		<key>amount</key>
		<string>10193</string>
	</dict>
	<dict>
		<key>title</key>
		<string>อินเทอร์เน็ต</string>
		<key>amount</key>
		<string>590</string>
	</dict>
	<dict>
		<key>title</key>
		<string>มือถือรายเดือน</string>
		<key>amount</key>
		<string>250</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ที่จอดรถ</string>
		<key>amount</key>
		<string>50</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ไฟฟ้า</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>น้ำประปา</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>น้ำมัน</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>อาหาร</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>เครื่องดืม</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>เดินทาง</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>บัตรเครดิต</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Netflix</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ยารักษาโรค</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Shopping</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ดูหนัง</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>คอนโด</string>
		<key>amount</key>
		<string>5900</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ทำฟัน</string>
		<key>amount</key>
		<string>1500</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ให้ผู้มีพระคุณ</string>
		<key>amount</key>
		<string>4000</string>
	</dict>
	<dict>
		<key>title</key>
		<string>เลียงผู้ชาย</string>
		<key>amount</key>
		<string>50</string>
	</dict>
	<dict>
		<key>title</key>
		<string>สังสรรค์</string>
		<key>amount</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ไปเที่ยว</string>
		<key>amount</key>
		<string>2000</string>
	</dict>
</array>
</plist>
